@model IEnumerable<ReservationSystem.Reservation.EditReservationView>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Správce rezervací</h2>

<table class="table table-striped table-hover ">
    <tr>
        <th>
            Stůl
        </th>
        <th>
            Čas
        </th>
        <th>
            Datum
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Table
        </td>
        <td>
            @item.Time
        </td>
        <td>
            @item.SDate
        </td>
        <td>
            @Html.ActionLink("Smazat", "Delete","Reservation", new { id=item.Id }, new { @id = item.Id})
        </td>
    </tr>
}

</table>
