@{
    ViewBag.Title = "GroupReservations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ReservationSystem.Reservation.ReservationView

<div class="well">
<form class="form-horizontal">
    <fieldset>
        <legend>Hromadné rezervace</legend>
        <div class="form-group">
            <label for="groupDateDatePicker" class="col-lg-2 control-label">Datum</label>
            <input class="form-control" id="groupDateDatePicker" name="date">
        </div>

        <div class="form-group">
            <label for="reservationName" class="col-lg-2 control-label">Název rezervace</label>
            <input class="form-control" id="reservationName" name="reservationName"><br />
        </div>

        <div class="form-group">
            <label for="startTime" class="col-lg-2 control-label">Počáteční čas</label>
            <div class="col-lg-10">
                <select class="form-control" id="startTime" name="startTime">
                    @foreach (var item in Model.Times)
                    {
                        <option>@item.StartTime.ToString()</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="endTime" class="col-lg-2 control-label" name="endTime">Konečný čas</label>
            <div class="col-lg-10">
                <select class="form-control" id="endTime" name="endTime">
                    @foreach (var item in Model.Times)
                    {
                        <option>@item.StartTime.ToString()</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="tables" class="col-lg-2 control-label">Stoly</label>
            <div class="col-lg-10">
                <select multiple="" class="form-control" id="tables" name="tables">
                    @foreach (var item in Model.Tables)
                    {
                        <option>@item.Number.ToString()</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Rezervovat</button>
            </div>
        </div>
    </fieldset>
</form>
    </div>

<div class="well">
    @using (Html.BeginForm("CancelledDay", "Reservation", null, FormMethod.Post, new { @id = "cancelldForm", @class = "form-horizontal" }))
    {
        <fieldset>
            <legend>Zablokování dnů</legend>
            <div class="form-group">
                <label for="groupDateDatePicker" class="col-lg-2 control-label">Datum</label>
                <div id="multipleDatePickerDiv2" class="col-lg-10">
                    <input class="form-control" id="canncelledGroupDateDatePicker" name="date"><br />
                </div>
            </div>

            <div class="form-group">
                <label for="reason" class="col-lg-2 control-label">Důvod</label>
                <input class="form-control" id="reason" name="reason"><br />
            </div>

            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="reset" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary">Zrušit den</button>
                </div>
            </div>
        </fieldset>
    }
 </div>

    @section scripts
    {
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="~/Scripts/jquery-ui.multidatespicker.js" ></script>
        <script type="text/javascript">
            $(function() {
                $("#groupDateDatePicker").multiDatesPicker(
                    {
                        beforeShowDay: $.datepicker.noWeekends,
                        dateFormat: "dd.mm.yy",
                        dayNamesShort: ["Ne, Po, Út, St, Čt, Pá, So"],
                        dayNames: ["Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
                        monthNames: ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec"],
                        firstDay: 1,
                        minDate: 0
                    }
                    );

                $("#canncelledGroupDateDatePicker").multiDatesPicker(
                {
                    beforeShowDay: $.datepicker.noWeekends,
                    dateFormat: "dd.mm.yy",
                    dayNamesShort: ["Ne, Po, Út, St, Čt, Pá, So"],
                    dayNames: ["Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
                    monthNames: ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec"],
                    firstDay: 1,
                    minDate: 0
                });

            });
        </script>
    }

