@using ReservationSystem.Models
@{ var selDate = ViewBag.Date; }
<div class="datagrid">
    <table class="table table-striped table-hover " table width='100%'>
        <thead>
            <tr>
                <th>Čas</th>
                @foreach (var table in ViewBag.Tables as List<TableModel>)
                {
                    <th>Stůl @table.Number</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var time in ViewBag.Times as List<TimeModel>)
            {
                
                <tr>
                    <td>  @{
                              var t = time.StartTime.Hours.ToString() + ":" + time.StartTime.Minutes.ToString();
                          }
                            @t
                    </td>
                    @foreach (var table in ViewBag.Tables as List<TableModel>)
                    {
                        int res = ViewBag.ReservationDay.IsReserved(time, table);
                        switch (res)
                        {
                            case 1:
                                <td>
                                    @Html.ActionLink("VOLNO", "PickedTime", "Reservation", new { table = table.Id, time = time.Id, sdate = @selDate }, new { @class = "btn btn-warning" })
                                </td>
                                break;
                            case 2:
                                <td>
                                    @Html.ActionLink("VYBRÁNO", "PickedTime", "Reservation", new { table = table.Id, time = time.Id, sdate = selDate }, new { @class = "btn btn-success" })
                                </td>
                                break;
                            case 3:
                                <td>
                                    @Html.ActionLink("REZERVOVÁNO", "", "", new { }, new { @class = "btn btn-danger" })
                                </td>
                                break;
                        }


                    }
                </tr>
            }
        </tbody>
    </table>
</div>