@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>

<div class="list-group">
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Jan Červenka</h4>
        <h5 class="list-group-item-heading">Místopředseda oddílu</h5>
        <address class="list-group-item-text">Tel: neuvedeno <a href="mailto:info@sparta-stolni-tenis.cz">info@sparta-stolni-tenis.cz</a> </address>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Vít Gaydoš</h4>
        <h5 class="list-group-item-heading">Trenér mládeže</h5>
        <address class="list-group-item-text">Tel:  +420 732 170 812 <a href="mailto:vitgaydos@seznam.cz">vitgaydos@seznam.cz</a> </address>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Rudolf Kroupa</h4>
        <h5 class="list-group-item-heading">Hraní pro veřejnost</h5>
        <address class="list-group-item-text">Tel:  +420 608 167 381 <a href="mailto:kroupar@gmail.com">kroupar@gmail.com</a> </address>
    </a>
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading">Jan Kuchař</h4>
        <h5 class="list-group-item-heading">Správa rezervačního systému</h5>
        <address class="list-group-item-text">Tel: neuvedeno <a href="mailto:jku@prodata.cz">jku@prodata.cz</a> </address>
    </a>
</div>


<address>
    <strong>Arena Sparta</strong> 
    Podvinný mlýn<br />
    Kovanecká 27, 190 00 Praha 9 - Libeň<br/>
    <strong> GPS Seznam: </strong> 50°6'31.14"S 14°29'13.60"V <br />
    <strong> GPS Google: </strong> 50.10864897892571 14.4871110330954 <br />
    <strong> Metro</strong> - stanice „Českomoravská“ (trasa B) a následně 5 minut pěšky. <br />
    <strong> Tramvaj</strong> - linka 16, stanice „Divadlo Gong” a následně 3 minuty pěšky. <br />
    <strong> Auto </strong> - Odbočte ze Sokolovské ulice do ulice Podvinný mlýn. K dispozici je velkokapacitní parkoviště. <br />
</address>

