@{
    ViewBag.Title = "Potvrzovací email odeslán";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Email byl odeslán na Vaši emailovou adresu. Prosím klikněte na dokaz v něm a pokračujte na přihlášení. 
    </p>
</div>

